---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---
<BaseLayout title="Home">
  <h1>Spacebot Blog</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/spacebot-blog/blog/${post.slug}/`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
